/* Reset default margin and padding */
body,
h1,
h2,
h3 p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Century", serif;
}

/* Define the color theme */
body {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Century", serif;
  color: brown; /* Text color */
}

/* Create a semi-transparent middle section */
.middle-section {
  background-color: #e7e1d4; /* Brown with transparency */
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 75%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow */
}

.middle-section > * {
  max-width: 100%; /* Adjust this value as needed */
  box-sizing: border-box;
}

/* Heading styles */
h1 {
  color: #333333; /* Brown heading color */
  font-size: 42px;
  font-family: serif;
  margin-bottom: 20px;
  text-align: center;
  font-style: bold;
}

h1.title {
  text-align: center;
  font-family: serif;
  font-size: 70px; /* Adjust the font size as needed */
  color: #333333; /* Title color */
  /* Add any other title-specific styles here */
}

h2 {
  color: #8b4513; /* Brown heading color */
  font-size: 24px;
  margin-bottom: 15px;
}

h3 {
  color: #8b4513; /* Brown heading color */
  font-size: 20px;
  margin-bottom: 10px;
}

/* Paragraph styles */
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: "Century", serif;
}

.custom-highlight {
  color: #800020;
  font-weight: bold;
  font-size: 22px;
}

/* Link styles */
a {
  color: #8b4513; /* Brown link color */
  text-decoration: underline;
  transition: color 0.3s; /* Smooth color transition on hover */
}

a:hover {
  color: #a0522d; /* Darker brown on hover */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.visualization-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  height: max-content;
}

.visualization-container > * {
  max-width: 100%; /* Adjust this value as needed */
  box-sizing: border-box;
}

.vis-container {
	width: fit-content;
	border-radius: 10px;
}

.container {
  display: flex;
}

.left {
  flex: 7; /* Take up 50% of the container */
  /* Additional styling for the left section */
}

.right {
  flex: 3; /* Take up 50% of the container */
  /* Additional styling for the right section */
}

.subtitle {
  font-size: 16px; /* Adjust the font size as needed */
  color: #888; /* Subtitle color (a shade of gray) */
  margin-bottom: 10px; /* Add spacing below the subtitle */
  font-family: "Century", serif;
}
